In [8]:
import pandas as pd

In [9]:
def get_df_marker_expression(datapath):
    metabric_expression = pd.read_csv(datapath, sep=',') 
    metabric_expression = metabric_expression.transpose()
    print("metabric_expression.shape: {}".format(metabric_expression.shape))
    metabric_expression.rename(columns=metabric_expression.iloc[0])
    metabric_expression = metabric_expression.iloc[1:]
    print("metabric_expression.shape: {}".format(metabric_expression.shape))
    return metabric_expression

In [10]:
def get_df_cln(filepath):
    cln_data = pd.read_csv(cln_path, sep='\t')
    cln_selected = cln_data[['ageDiagnosis', 'chemo', 'hormone', 'radiation', 'ER']] 
    d = {'pos': 1, 'neg': 0}
    cln_selected['ER'] = cln_selected['ER'].map(d)
    return cln_selected

In [18]:
#datapath_rand = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_random_subset_plus_oncotype.csv'
#datapath_rand = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_random_subset_plus_oncotype'+str(n_features)+'.csv'
#datapath_onco = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_oncotype.csv'

In [25]:
n_features = 2000 
datapath_rand = '/Users/yutaro/code/coxtf/data_preprocessing/metabric_random_subset_plus_oncotype_'+str(n_features)+'.csv'
datapath_onco = '/Users/yutaro/code/coxtf/data_preprocessing/metabric_oncotype.csv'

In [20]:
#datapath_full = '/Users/yutaro/code/data/coxtf/Metabric/metabric_exp.csv' 
cln_path = '/Users/yutaro/code/data/coxtf/Metabric/metabric_cln.txt'

In [21]:
#cln_path = '/Users/yutaro/Desktop/Metabric/metabric_cln.txt'

In [22]:
cln_df = get_df_cln(cln_path)

/Users/yutaro/.pyenv/versions/3.7.2/envs/coxtf/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [26]:
rand_df = get_df_marker_expression(datapath_rand)
onco_df = get_df_marker_expression(datapath_onco)

metabric_expression.shape: (1982, 2000)
metabric_expression.shape: (1981, 2000)
metabric_expression.shape: (1982, 16)
metabric_expression.shape: (1981, 16)

In [28]:
onco_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [41]:
# onco_df.rename(index=str, columns=dic)
#onco_df = onco_df.rename(dic)

In [42]:
#dic = {} 
#for i in range(16):
#    dic.update({i : i+2500})

In [30]:
onco_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [32]:
#onco_df.columns = range(300, 316)
onco_df.columns = range(2500, 2516)

In [33]:
onco_df.head()

,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [34]:
rand_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
MB-0000,5.81862,6.1011,5.36779,5.4777,8.23061,5.99016,5.63439,5.3137,7.85026,8.19143,...,5.41941,5.85415,5.57057,5.49808,5.18968,5.38279,5.35378,5.41813,5.35145,5.12588
MB-0002,5.31217,5.83353,5.57557,5.36053,7.99566,5.41554,5.52993,5.44123,8.03728,7.52223,...,5.68637,5.84184,5.36933,5.5604,5.33131,5.59301,5.4961,5.59616,5.54536,5.35591
MB-0005,5.40728,5.90783,5.40887,5.54309,7.26644,6.09074,5.71924,5.43134,7.65539,7.35117,...,5.66054,5.63952,5.47095,5.34274,5.45748,5.60745,5.60842,5.58729,5.44369,5.64244
MB-0006,5.71926,6.12245,5.39402,5.57944,7.88463,5.69295,5.51591,5.67446,8.47802,7.23994,...,5.57424,5.71498,5.59712,5.34757,5.39854,5.40389,5.65877,5.57601,5.60341,5.24708
MB-0008,5.59547,5.86986,5.2247,5.44146,8.01194,5.477,5.58422,5.4802,7.98857,7.50269,...,5.47329,5.68227,5.32696,5.35859,5.37481,5.48251,5.31455,5.45223,5.23085,5.30606

In [35]:
cln_df.head()

         ageDiagnosis  chemo  hormone  radiation  ER
MB-0000         75.65      0        1          1   1
MB-0002         43.19      0        1          1   1
MB-0005         48.87      1        1          0   1
MB-0006         47.68      1        1          1   1
MB-0008         76.97      1        1          1   1

In [36]:
metabric_all = onco_df.join(cln_df)

In [37]:
metabric_all.head()

,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,...,2511,2512,2513,2514,2515,ageDiagnosis,chemo,hormone,radiation,ER
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,...,5.27435,10.2682,6.39123,5.02734,6.29454,75.65,0,1,1,1
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,...,5.37565,11.9983,6.6803,4.76558,6.00359,43.19,0,1,1,1
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,...,5.46028,11.9254,6.31532,3.00262,4.58987,48.87,1,1,0,1
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,...,5.55256,10.4372,6.70351,5.50968,6.42802,47.68,1,1,1,1
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,...,5.44125,12.6027,6.20124,4.62522,5.65834,76.97,1,1,1,1

In [38]:
metabric_all = onco_df.join(cln_df)
metabric_all = metabric_all.join(rand_df)

In [51]:
metabric_all.head()

,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,...,5.41941,5.85415,5.57057,5.49808,5.18968,5.38279,5.35378,5.41813,5.35145,5.12588
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,...,5.68637,5.84184,5.36933,5.5604,5.33131,5.59301,5.4961,5.59616,5.54536,5.35591
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,...,5.66054,5.63952,5.47095,5.34274,5.45748,5.60745,5.60842,5.58729,5.44369,5.64244
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,...,5.57424,5.71498,5.59712,5.34757,5.39854,5.40389,5.65877,5.57601,5.60341,5.24708
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,...,5.47329,5.68227,5.32696,5.35859,5.37481,5.48251,5.31455,5.45223,5.23085,5.30606

In [43]:
metabric_all.shape

(1981, 2021)

In [47]:
def get_h5_data(jared_path, metabric_all, random_state):
    metabric_Time_Event = pd.read_csv(jared_path+'/data_clinical_supp_patient.txt', sep='\t')
    metabric_Time_Event = metabric_Time_Event.set_index('PATIENT_ID')[['OS_MONTHS', 'OS_STATUS']]
    metabric_Time_Event['OS_STATUS'] = (metabric_Time_Event['OS_STATUS'] == 'DECEASED').astype(np.int32)
    
    from sklearn.model_selection import train_test_split
    
    metabric_df = metabric_all.join(metabric_Time_Event)
    
    print(metabric_df.shape)
    
    metabric_df = metabric_df[pd.notnull(metabric_df['OS_MONTHS'])]
    metabric_df = metabric_df[pd.notnull(metabric_df['OS_STATUS'])]
    
    print(metabric_df.shape)
    
    metabric_train_df, metabric_test_df = train_test_split(metabric_df, test_size = 0.2, random_state=123)
    metabric_train_df, metabric_valid_df = train_test_split(metabric_train_df, test_size=0.2, random_state=random_state)
    
    mb_x_train = metabric_train_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_train = metabric_train_df['OS_STATUS'].values.astype(np.int32)
    mb_t_train = metabric_train_df['OS_MONTHS'].values.astype(np.float32)
    mb_train = {'x': mb_x_train, 'e': mb_e_train, 't': mb_t_train}

    mb_x_valid = metabric_valid_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_valid = metabric_valid_df['OS_STATUS'].values.astype(np.int32)
    mb_t_valid = metabric_valid_df['OS_MONTHS'].values.astype(np.float32)
    mb_valid = {'x': mb_x_valid, 'e': mb_e_valid, 't': mb_t_valid}    

    mb_x_test = metabric_test_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_test = metabric_test_df['OS_STATUS'].values.astype(np.int32)
    mb_t_test = metabric_test_df['OS_MONTHS'].values.astype(np.float32)
    mb_test = {'x': mb_x_test, 'e': mb_e_test, 't': mb_t_test}

    metabric_ds = {'train' : mb_train, 'valid': mb_valid ,'test': mb_test}
    
    return metabric_ds

In [48]:
import numpy as np

In [49]:
import h5py
def save_dataset(datasets, file):
    f = h5py.File(file)
    for (grp, ds) in datasets.items():
        grp_f = f.create_group(grp)
        for (key, value) in ds.items():
            print('Saving: (%s, %s)' % (grp, key))
            grp_f.create_dataset(key, data=value)
    f.close()

In [ ]:
base_path = '/Users/yutaro/code/data/coxtf/brca_metabric'

In [50]:
for i in range(5):
    metabric_ds = get_h5_data(base_path, metabric_all, i) # base_path for getting time to event info
    save_dataset(metabric_ds, file='/Users/yutaro/code/data/coxtf/metabric_d2000/'+str(i)+'metabric_train_valid_test.h5')

(1981, 2023)
(1969, 2023)

/Users/yutaro/.pyenv/versions/3.7.2/envs/coxtf/lib/python3.7/site-packages/ipykernel_launcher.py:3: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  This is separate from the ipykernel package so we can avoid doing imports until

Saving: (train, x)
Saving: (train, e)
Saving: (train, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (valid, t)
Saving: (test, x)
Saving: (test, e)
Saving: (test, t)
(1981, 2023)
(1969, 2023)
Saving: (train, x)
Saving: (train, e)
Saving: (train, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (valid, t)
Saving: (test, x)
Saving: (test, e)
Saving: (test, t)
(1981, 2023)
(1969, 2023)
Saving: (train, x)
Saving: (train, e)
Saving: (train, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (valid, t)
Saving: (test, x)
Saving: (test, e)
Saving: (test, t)
(1981, 2023)
(1969, 2023)
Saving: (train, x)
Saving: (train, e)
Saving: (train, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (valid, t)
Saving: (test, x)
Saving: (test, e)
Saving: (test, t)
(1981, 2023)
(1969, 2023)
Saving: (train, x)
Saving: (train, e)
Saving: (train, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (valid, t)
Saving: (test, x)
Saving: (test, e)
Saving: (test, t)

In [22]:
#for i in range(5):
#    metabric_ds = get_h5_data("/Users/yutaro/Desktop/brca_metabric", metabric_all, i)
#    save_dataset(metabric_ds, file='/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/'+str(i)+'random_onco_train_valid_test.h5')

(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)