In [2]:
import pandas as pd

In [3]:
def get_df_marker_expression(datapath):
    metabric_expression = pd.read_csv(datapath, sep=',') 
    metabric_expression = metabric_expression.transpose()
    print("metabric_expression.shape: {}".format(metabric_expression.shape))
    metabric_expression.rename(columns=metabric_expression.iloc[0])
    metabric_expression = metabric_expression.iloc[1:]
    print("metabric_expression.shape: {}".format(metabric_expression.shape))
    return metabric_expression

In [4]:
def get_df_cln(filepath):
    cln_data = pd.read_csv(cln_path, sep='\t')
    cln_selected = cln_data[['ageDiagnosis', 'chemo', 'hormone', 'radiation', 'ER']] 
    d = {'pos': 1, 'neg': 0}
    cln_selected['ER'] = cln_selected['ER'].map(d)
    return cln_selected

In [5]:
#datapath_rand = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_random_subset_plus_oncotype.csv'
datapath_rand = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_random_subset_plus_oncotype.csv'
datapath_onco = '/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/metabric_oncotype.csv'

In [6]:
cln_path = '/Users/yutaro/Desktop/Metabric/metabric_cln.txt'

In [7]:
cln_df = get_df_cln(cln_path)

/Users/yutaro/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
rand_df = get_df_marker_expression(datapath_rand)
onco_df = get_df_marker_expression(datapath_onco)

metabric_expression.shape: (1982, 200)
metabric_expression.shape: (1981, 200)
metabric_expression.shape: (1982, 16)
metabric_expression.shape: (1981, 16)

In [8]:
onco_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [9]:
# onco_df.rename(index=str, columns=dic)
onco_df = onco_df.rename(dic)

NameError: name 'dic' is not defined

In [10]:
dic = {}
for i in range(16):
    dic.update({i : i+300})

In [11]:
onco_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [9]:
onco_df.columns = range(300, 316)

In [10]:
onco_df.head()

,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,5.6473,5.27435,10.2682,6.39123,5.02734,6.29454
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,5.67313,5.37565,11.9983,6.6803,4.76558,6.00359
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,5.978,5.46028,11.9254,6.31532,3.00262,4.58987
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,5.86563,5.55256,10.4372,6.70351,5.50968,6.42802
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,5.43641,5.44125,12.6027,6.20124,4.62522,5.65834

In [11]:
rand_df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
MB-0000,6.70403,6.61062,5.74193,5.68506,6.03928,9.2592,5.35872,5.51691,5.45928,5.87931,...,6.44087,5.31632,5.90928,11.036,5.40588,5.21979,7.08668,5.19477,5.35977,5.55348
MB-0002,6.47962,6.4676,5.7843,5.49625,5.79609,10.435,5.27657,5.54684,5.33917,5.58379,...,6.42638,5.23235,6.16283,9.72489,5.34188,6.26135,6.34608,5.47812,5.45598,5.24321
MB-0005,7.41261,6.80683,6.0268,5.79528,5.85698,10.9249,5.38458,5.3606,5.50903,5.43589,...,7.52074,5.54534,6.46061,9.28731,5.40999,5.33163,7.41544,5.33296,5.62247,5.52872
MB-0006,7.74031,6.53457,6.14649,5.79438,5.94296,10.9487,5.1773,5.61303,5.22792,5.88162,...,6.23366,5.34773,6.22286,9.94218,5.48418,5.44482,6.72376,5.57645,5.54765,5.93458
MB-0008,6.39775,6.54069,5.59352,5.49423,5.90322,10.4619,5.28693,5.22043,5.22534,5.51364,...,6.7921,5.46694,6.84963,11.1131,5.62167,5.41343,6.22282,5.52975,5.10684,5.48897

In [12]:
cln_df.head()

         ageDiagnosis  chemo  hormone  radiation  ER
MB-0000         75.65      0        1          1   1
MB-0002         43.19      0        1          1   1
MB-0005         48.87      1        1          0   1
MB-0006         47.68      1        1          1   1
MB-0008         76.97      1        1          1   1

In [13]:
metabric_all = onco_df.join(cln_df)

In [14]:
metabric_all.head()

,300,301,302,303,304,305,306,307,308,309,...,311,312,313,314,315,ageDiagnosis,chemo,hormone,radiation,ER
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,...,5.27435,10.2682,6.39123,5.02734,6.29454,75.65,0,1,1,1
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,...,5.37565,11.9983,6.6803,4.76558,6.00359,43.19,0,1,1,1
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,...,5.46028,11.9254,6.31532,3.00262,4.58987,48.87,1,1,0,1
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,...,5.55256,10.4372,6.70351,5.50968,6.42802,47.68,1,1,1,1
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,...,5.44125,12.6027,6.20124,4.62522,5.65834,76.97,1,1,1,1

In [15]:
metabric_all = onco_df.join(cln_df)
metabric_all = metabric_all.join(rand_df)

In [16]:
metabric_all.head()

,300,301,302,303,304,305,306,307,308,309,...,190,191,192,193,194,195,196,197,198,199
MB-0000,7.56625,9.19447,5.44603,5.78367,6.43808,7.24338,7.30177,5.53646,5.90122,11.3742,...,6.44087,5.31632,5.90928,11.036,5.40588,5.21979,7.08668,5.19477,5.35977,5.55348
MB-0002,8.23477,9.34792,5.21526,5.61931,7.91585,8.2593,7.18956,5.55862,5.79704,10.4962,...,6.42638,5.23235,6.16283,9.72489,5.34188,6.26135,6.34608,5.47812,5.45598,5.24321
MB-0005,8.03901,7.89818,5.37092,5.81533,8.01076,8.30575,7.18584,5.37179,5.62684,11.5534,...,7.52074,5.54534,6.46061,9.28731,5.40999,5.33163,7.41544,5.33296,5.62247,5.52872
MB-0006,8.09224,8.37589,5.80729,6.87048,7.21384,9.81603,6.50151,5.57149,6.40958,11.7158,...,6.23366,5.34773,6.22286,9.94218,5.48418,5.44482,6.72376,5.57645,5.54765,5.93458
MB-0008,8.41559,7.52976,5.24829,5.80723,7.9053,9.23063,6.45983,5.65532,5.78461,11.719,...,6.7921,5.46694,6.84963,11.1131,5.62167,5.41343,6.22282,5.52975,5.10684,5.48897

In [17]:
metabric_all.shape

(1981, 221)

In [1]:
def get_h5_data(jared_path, metabric_all, random_state):
    metabric_Time_Event = pd.read_csv(jared_path+'/data_clinical_supp_patient.txt', sep='\t')
    metabric_Time_Event = metabric_Time_Event.set_index('PATIENT_ID')[['OS_MONTHS', 'OS_STATUS']]
    metabric_Time_Event['OS_STATUS'] = (metabric_Time_Event['OS_STATUS'] == 'DECEASED').astype(np.int32)
    
    from sklearn.model_selection import train_test_split
    
    metabric_df = metabric_all.join(metabric_Time_Event)
    
    print(metabric_df.shape)
    
    metabric_df = metabric_df[pd.notnull(metabric_df['OS_MONTHS'])]
    metabric_df = metabric_df[pd.notnull(metabric_df['OS_STATUS'])]
    
    print(metabric_df.shape)
    
    metabric_train_df, metabric_test_df = train_test_split(metabric_df, test_size = 0.2, random_state=random_state)
    metabric_train_df, metabric_valid_df = train_test_split(metabric_train_df, test_size=0.2, random_state=random_state)
    
    mb_x_train = metabric_train_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_train = metabric_train_df['OS_STATUS'].values.astype(np.int32)
    mb_t_train = metabric_train_df['OS_MONTHS'].values.astype(np.float32)
    mb_train = {'x': mb_x_train, 'e': mb_e_train, 't': mb_t_train}

    mb_x_valid = metabric_valid_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_valid = metabric_valid_df['OS_STATUS'].values.astype(np.int32)
    mb_t_valid = metabric_valid_df['OS_MONTHS'].values.astype(np.float32)
    mb_valid = {'x': mb_x_valid, 'e': mb_e_valid, 't': mb_t_valid}    

    mb_x_test = metabric_test_df.drop(['OS_MONTHS', 'OS_STATUS'], axis = 1).values.astype(np.float32)
    mb_e_test = metabric_test_df['OS_STATUS'].values.astype(np.int32)
    mb_t_test = metabric_test_df['OS_MONTHS'].values.astype(np.float32)
    mb_test = {'x': mb_x_test, 'e': mb_e_test, 't': mb_t_test}

    metabric_ds = {'train' : mb_train, 'valid': mb_valid ,'test': mb_test}
    
    return metabric_ds

In [19]:
import numpy as np

TypeError: get_h5_data() missing 1 required positional argument: 'random_state'

In [21]:
import h5py
def save_dataset(datasets, file):
    f = h5py.File(file)
    for (grp, ds) in datasets.items():
        grp_f = f.create_group(grp)
        for (key, value) in ds.items():
            print('Saving: (%s, %s)' % (grp, key))
            grp_f.create_dataset(key, data=value)
    f.close()

In [22]:
for i in range(5):
    metabric_ds = get_h5_data("/Users/yutaro/Desktop/brca_metabric", metabric_all, i)
    save_dataset(metabric_ds, file='/Users/yutaro/GoogleDrive/github/BayesianFeature/data_preprocessing/'+str(i)+'random_onco_train_valid_test.h5')

(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)
(1981, 223)
(1969, 223)
Saving: (valid, t)
Saving: (valid, x)
Saving: (valid, e)
Saving: (train, t)
Saving: (train, x)
Saving: (train, e)
Saving: (test, t)
Saving: (test, x)
Saving: (test, e)